/* ---- isotope ---- */
#content {
    margin: 0 auto;
}

#isotope_container {
    padding: 5px;
    margin: 0 auto;
    border: 2px solid black;
}

/* clear fix */
.isotope:after {
    content: '';
    display: block;
    clear: both;
}

.main-title {
    opacity: 0.50;
}

.color--lcars {
    color: rgba(233, 175, 26, 1)
}
$color_lcars: rgba(233, 175, 26, 1);
$color_lcars_90: rgba(233, 175, 26, 0.90);
$color_lcars_80: rgba(233, 175, 26, 0.80);
$color_lcars_70: rgba(233, 175, 26, 0.70);
$color_lcars_60: rgba(233, 175, 26, 0.60);
$color_lcars_50: rgba(233, 175, 26, 0.50);
$color_lcars_40: rgba(233, 175, 26, 0.40);
$color_lcars_30: rgba(233, 175, 26, 0.30);
$color_lcars_20: rgba(233, 175, 26, 0.20);
$color_lcars_10: rgba(233, 175, 26, 0.10);


.color--voluson {
    color: rgba(59, 115, 185, 1)
}
$color_voluson: rgb(70, 137, 221);
$color_voluson_90: rgba(59, 115, 185, 0.90);
$color_voluson_80: rgba(59, 115, 185, 0.80);
$color_voluson_70: rgba(59, 115, 185, 0.70);
$color_voluson_60: rgba(59, 115, 185, 0.60);
$color_voluson_50: rgba(59, 115, 185, 0.50);
$color_voluson_40: rgba(59, 115, 185, 0.40);
$color_voluson_30: rgba(59, 115, 185, 0.30);
$color_voluson_20: rgba(59, 115, 185, 0.20);
$color_voluson_10: rgba(59, 115, 185, 0.10);


.color--medical_records {
    color: rgba(141, 206, 190, 1);
}
$color_medical_records: rgba(141, 206, 190, 1);
$color_medical_records_90: rgba(141, 206, 190, 0.90);
$color_medical_records_80: rgba(141, 206, 190, 0.80);
$color_medical_records_70: rgba(141, 206, 190, 0.70);
$color_medical_records_60: rgba(141, 206, 190, 0.60);
$color_medical_records_50: rgba(141, 206, 190, 0.50);
$color_medical_records_40: rgba(141, 206, 190, 0.40);
$color_medical_records_30: rgba(141, 206, 190, 0.30);
$color_medical_records_20: rgba(141, 206, 190, 0.20);
$color_medical_records_10: rgba(141, 206, 190, 0.10);


.color--nike {
    color: rgba(225, 136, 2, 1);
}
$color_nike: rgba(225, 136, 2, 1);
$color_nike_90: rgba(225, 136, 2, 0.90);
$color_nike_80: rgba(225, 136, 2, 0.80);
$color_nike_70: rgba(225, 136, 2, 0.70);
$color_nike_60: rgba(225, 136, 2, 0.60);
$color_nike_50: rgba(225, 136, 2, 0.50);
$color_nike_40: rgba(225, 136, 2, 0.40);
$color_nike_30: rgba(225, 136, 2, 0.30);
$color_nike_20: rgba(225, 136, 2, 0.20);
$color_nike_10: rgba(225, 136, 2, 0.10);


.color--forest_service {
    color: rgba(110, 188, 32, 1);
}
$color_forest_service: rgba(110, 188, 32, 1);
$color_forest_service_90: rgba(110, 188, 32, 0.90);
$color_forest_service_80: rgba(110, 188, 32, 0.80);
$color_forest_service_70: rgba(110, 188, 32, 0.70);
$color_forest_service_60: rgba(110, 188, 32, 0.60);
$color_forest_service_50: rgba(110, 188, 32, 0.50);
$color_forest_service_40: rgba(110, 188, 32, 0.40);
$color_forest_service_30: rgba(110, 188, 32, 0.30);
$color_forest_service_20: rgba(110, 188, 32, 0.20);
$color_forest_service_10: rgba(110, 188, 32, 0.10);


.color--elemental {
    color: rgba(209, 80, 24, 1);
}
$color_elemental: rgba(209, 80, 24, 1);
$color_elemental_90: rgba(209, 80, 24, 0.90);
$color_elemental_80: rgba(209, 80, 24, 0.80);
$color_elemental_70: rgba(209, 80, 24, 0.70);
$color_elemental_60: rgba(209, 80, 24, 0.60);
$color_elemental_50: rgba(209, 80, 24, 0.50);
$color_elemental_40: rgba(209, 80, 24, 0.40);
$color_elemental_30: rgba(209, 80, 24, 0.30);
$color_elemental_20: rgba(209, 80, 24, 0.20);
$color_elemental_10: rgba(209, 80, 24, 0.10);


.color--inter_arma {
    color: rgb(164, 0, 0);
}
$color_inter_arma: rgb(227, 0, 0);
$color_inter_arma_90: rgba(164, 0, 0, 0.90);
$color_inter_arma_80: rgba(164, 0, 0, 0.80);
$color_inter_arma_70: rgba(164, 0, 0, 0.70);
$color_inter_arma_60: rgba(164, 0, 0, 0.60);
$color_inter_arma_50: rgba(164, 0, 0, 0.50);
$color_inter_arma_40: rgba(164, 0, 0, 0.40);
$color_inter_arma_30: rgba(164, 0, 0, 0.30);
$color_inter_arma_20: rgba(164, 0, 0, 0.20);
$color_inter_arma_10: rgba(164, 0, 0, 0.10);


.color--power {
    color: rgba(224, 214, 152, 1);
}
$color_power: rgba(224, 214, 152, 1);
$color_power_90: rgba(224, 214, 152, 0.90);
$color_power_80: rgba(224, 214, 152, 0.80);
$color_power_70: rgba(224, 214, 152, 0.70);
$color_power_60: rgba(224, 214, 152, 0.60);
$color_power_50: rgba(224, 214, 152, 0.50);
$color_power_40: rgba(224, 214, 152, 0.40);
$color_power_30: rgba(224, 214, 152, 0.30);
$color_power_20: rgba(224, 214, 152, 0.20);
$color_power_10: rgba(224, 214, 152, 0.10);


.color--lighting {
    color: rgba(99, 155, 223, 1);
}
$color_lighting: rgba(99, 155, 223, 1);
$color_lighting_90: rgba(99, 155, 223, 0.90);
$color_lighting_80: rgba(99, 155, 223, 0.80);
$color_lighting_70: rgba(99, 155, 223, 0.70);
$color_lighting_60: rgba(99, 155, 223, 0.60);
$color_lighting_50: rgba(99, 155, 223, 0.50);
$color_lighting_40: rgba(99, 155, 223, 0.40);
$color_lighting_30: rgba(99, 155, 223, 0.30);
$color_lighting_20: rgba(99, 155, 223, 0.20);
$color_lighting_10: rgba(99, 155, 223, 0.10);


.color--relativity {
    color: rgba(99, 155, 223, 1);
}
$color_relativity: rgba(99, 155, 223, 1);
$color_relativity_90: rgba(99, 155, 223, 0.90);
$color_relativity_80: rgba(99, 155, 223, 0.80);
$color_relativity_70: rgba(99, 155, 223, 0.70);
$color_relativity_60: rgba(99, 155, 223, 0.60);
$color_relativity_50: rgba(99, 155, 223, 0.50);
$color_relativity_40: rgba(99, 155, 223, 0.40);
$color_relativity_30: rgba(99, 155, 223, 0.30);
$color_relativity_20: rgba(99, 155, 223, 0.20);
$color_relativity_10: rgba(99, 155, 223, 0.10);


.color--ebay {
    color: rgba(227, 50, 52, 1);
}
$color_ebay: rgba(227, 50, 52, 1);
$color_ebay_90: rgba(227, 50, 52, 0.90);
$color_ebay_80: rgba(227, 50, 52, 0.80);
$color_ebay_70: rgba(227, 50, 52, 0.70);
$color_ebay_60: rgba(227, 50, 52, 0.60);
$color_ebay_50: rgba(227, 50, 52, 0.50);
$color_ebay_40: rgba(227, 50, 52, 0.40);
$color_ebay_30: rgba(227, 50, 52, 0.30);
$color_ebay_20: rgba(227, 50, 52, 0.20);
$color_ebay_10: rgba(227, 50, 52, 0.10);


.color--vivint {
    color: rgba(255, 130, 0, 1);
}
$color_vivint: rgba(255, 130, 0, 1);
$color_vivint_90: rgba(255, 130, 0, 0.90);
$color_vivint_80: rgba(255, 130, 0, 0.80);
$color_vivint_70: rgba(255, 130, 0, 0.70);
$color_vivint_60: rgba(255, 130, 0, 0.60);
$color_vivint_50: rgba(255, 130, 0, 0.50);
$color_vivint_40: rgba(255, 130, 0, 0.40);
$color_vivint_30: rgba(255, 130, 0, 0.30);
$color_vivint_20: rgba(255, 130, 0, 0.20);
$color_vivint_10: rgba(255, 130, 0, 0.10);


.color--fluent {
    color: rgba(246, 75, 81, 1);
}
$color_fluent: rgb(246, 75, 81);
$color_fluent_90: rgba(246, 75, 81, 0.90);
$color_fluent_80: rgba(246, 75, 81, 0.80);
$color_fluent_70: rgba(246, 75, 81, 0.70);
$color_fluent_60: rgba(246, 75, 81, 0.60);
$color_fluent_50: rgba(246, 75, 81, 0.50);
$color_fluent_40: rgba(246, 75, 81, 0.40);
$color_fluent_30: rgba(246, 75, 81, 0.30);
$color_fluent_20: rgba(246, 75, 81, 0.20);
$color_fluent_10: rgba(246, 75, 81, 0.10);


.color--street_fighter {
    color: rgba(149, 152, 177, 1);
}
$color_street_fighter: rgba(149, 152, 177, 1);
$color_street_fighter_90: rgba(149, 152, 177, 0.90);
$color_street_fighter_80: rgba(149, 152, 177, 0.80);
$color_street_fighter_70: rgba(149, 152, 177, 0.70);
$color_street_fighter_60: rgba(149, 152, 177, 0.60);
$color_street_fighter_50: rgba(149, 152, 177, 0.50);
$color_street_fighter_40: rgba(149, 152, 177, 0.40);
$color_street_fighter_30: rgba(149, 152, 177, 0.30);
$color_street_fighter_20: rgba(149, 152, 177, 0.20);
$color_street_fighter_10: rgba(149, 152, 177, 0.10);

// ITEM - BOX =============
$elWidth: 252px;

.element-item {
    position: relative;
    float: left;
    width: $elWidth;
    height: $elWidth;
    margin: 4px;
    padding: 8px;
    background: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);

    .symbol {
        position: absolute;
        left: 0;
        top: 0;
        width: 64px;
        height: 64px;
        padding-top: 4px;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        z-index: 1;
        background: rgba(100, 149, 237, 0.9);
    }

    .symbol-large {
        display: none;
        width: $elWidth;
    }

    .weight {
        position: relative;
        margin-top: 54px;
        text-align: center;
        font-size: 16px;
        z-index: 1;
        opacity: 0;
    }

    .title {
        position: absolute;
        left: 0;
        top: 96px;
        width: 100%;
        font-size: 10px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 100;
        z-index: 1;
        opacity: 0;
        padding: 12px;
        padding-top: 4px;
        text-align: center;
        letter-spacing: 1px;
    }

    .number {
        position: absolute;
        right: 8px;
        bottom: 8px;
        font-size: 11px;
        z-index: 1;
    }

    .element-img {
        position: absolute;
        opacity: 1;
    }

    &:hover {

        .symbol {
            width: $elWidth;
            height: $elWidth;
            -webkit-transition: width 300ms;
            transition: width 300ms;
            font-size: 24px;
            padding-top: 16px !important;
            padding-left: 0 !important;
            text-align: center;
        }

        .symbol-small {
            display: none;
        }

        .symbol-large {
            display: block;
        }

        .name {
            opacity: 1;
        }

        .weight {
            opacity: 1;
        }

        .title {
            opacity: 1;
        }

        .element-img {
            opacity: 0.15;
        }

    }

}

.element-item-sizer {
    @extend .element-item;
    opacity: 0;
}

.element-item > * {
    margin: 0;
    padding: 0;
}

.modal-footer--text {
    color: white;
    float: left;
    font-weight: lighter;
    font-size: 12px;
    -ms-text-align-last: right;
    text-align: left;
}

.modal-footer {
    button.btn.btn-default {
        height: 28px;
        padding-top: 0;
        padding-bottom: 3px;
        border-radius: 0;
        font-size: 12px;
    }
}

.modal-content {
    border-radius: 0;
}

.carousel-indicators {
    bottom: -6px;
}

.carousel-indicators .active {
    background-color: rgba(255, 255, 255, 0.30);
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
}
